@code {

    [Parameter]
    public string ApiKey { get; set; }

}

<script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=[@ApiKey]' async defer></script>

<script type='text/javascript'>
    function GetMap() { var map = new Microsoft.Maps.Map('#myMap'); }
    </script>

<div id="myMap" style="position:relative;width:600px;height:400px;"></div>